.contentWrapper {
  display: flex;
}
.avatarClass {
  flex-grow: 1;
  margin-right: 50px;
  margin-top: -20px;
}
.pageTitleClass {
  color: #cc5f5f;
  text-transform: uppercase;
  font-size: 5rem;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
}

/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@media (min-width: 1025px) and (max-width: 1280px) {
}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) {
}

/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {
  .avatarClass {
    width: 300px;
    margin-bottom: 50px;
    margin-right: 0;
  }
  .contentWrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .pageTitleClass {
    font-size: 3.5rem;
  }
}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (min-width: 320px) and (max-width: 480px) {
  .avatarClass {
    width: 200px;
    margin-bottom: 50px;
    margin-right: 0;
  }
  .contentWrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .pageTitleClass {
    font-size: 3.5rem;
  }
}
