@import '../sassy/colors';

.titleContainer {
  display: flex;
  justify-content: center;
}
.title {
  color: $primary-color;
  text-transform: uppercase;
  font-size: 5rem;
}
.linkWrapper {
  text-align: center;
}
.link {
  margin-left: 20px;
  text-decoration: none;
  color: $darkest-black;
  padding: 10px 5px 0 5px;
  transition: box-shadow 0.2s cubic-bezier(0.65, 0.05, 0.36, 1);
  box-shadow: inset 0px -7px 0px 0px $primary-lightest;
  &:first-child {
    margin-left: 0;
  }
  &:hover {
    box-shadow: inset 0px -20px 0px 0px $primary-lightest;
  }
}
.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}
.project {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  border: 1px solid $primary-color;
  color: $darkest-black;
  padding: 20px;
  transition: box-shadow 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
  &:hover {
    box-shadow: 5px 6px 0px 1px $primary-color;
  }
}
.projectTitle {
  text-align: center;
}
/* 
    ##Device = Desktops
    ##Screen = 1281px to higher resolution desktops
  */

@media (min-width: 1281px) {
}

/* 
      ##Device = Laptops, Desktops
      ##Screen = B/w 1025px to 1280px
    */

@media (min-width: 1025px) and (max-width: 1280px) {
}

/* 
      ##Device = Tablets, Ipads (portrait)
      ##Screen = B/w 768px to 1024px
    */

@media (min-width: 768px) and (max-width: 1024px) {
}

/* 
      ##Device = Tablets, Ipads (landscape)
      ##Screen = B/w 768px to 1024px
    */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
}

/* 
      ##Device = Low Resolution Tablets, Mobiles (Landscape)
      ##Screen = B/w 481px to 767px
    */

@media (min-width: 481px) and (max-width: 767px) {
  .title {
    font-size: 3.5rem;
  }
  .linkWrapper {
    display: flex;
    flex-direction: column;
  }
  .link {
    margin: 0;
  }
}

/* 
      ##Device = Most of the Smartphones Mobiles (Portrait)
      ##Screen = B/w 320px to 479px
    */

@media (min-width: 320px) and (max-width: 480px) {
  .title {
    font-size: 3.5rem;
  }
  .linkWrapper {
    display: flex;
    flex-direction: column;
  }
  .link {
    margin: 0;
  }
  .projects {
    grid-template-columns: 1fr;
    margin-bottom: 10vh;
  }
}
