.projectsTitleContainerClass {
  display: flex;
  justify-content: center;
}
.projectsTitleClass {
  color: #cc5f5f;
  text-transform: uppercase;
  font-size: 5rem;
}
.projectLinksWrapperClass {
  text-align: center;
}
.projectLinkClass {
  margin-left: 20px;
  text-decoration: none;
  color: #2e2532;
  padding: 10px 5px 0 5px;
  transition: box-shadow 0.2s cubic-bezier(0.65, 0.05, 0.36, 1);
  box-shadow: inset 0px -7px 0px 0px #e7b6b6;
  &:hover {
    box-shadow: inset 0px -20px 0px 0px #e7b6b6;
  }
}
/* 
    ##Device = Desktops
    ##Screen = 1281px to higher resolution desktops
  */

@media (min-width: 1281px) {
}

/* 
      ##Device = Laptops, Desktops
      ##Screen = B/w 1025px to 1280px
    */

@media (min-width: 1025px) and (max-width: 1280px) {
}

/* 
      ##Device = Tablets, Ipads (portrait)
      ##Screen = B/w 768px to 1024px
    */

@media (min-width: 768px) and (max-width: 1024px) {
}

/* 
      ##Device = Tablets, Ipads (landscape)
      ##Screen = B/w 768px to 1024px
    */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
}

/* 
      ##Device = Low Resolution Tablets, Mobiles (Landscape)
      ##Screen = B/w 481px to 767px
    */

@media (min-width: 481px) and (max-width: 767px) {
  .pageTitleClass {
    font-size: 3.5rem;
  }
  .projectLinksWrapperClass {
    display: flex;
    flex-direction: column;
  }
  .projectLinkClass {
    margin: 0;
  }
}

/* 
      ##Device = Most of the Smartphones Mobiles (Portrait)
      ##Screen = B/w 320px to 479px
    */

@media (min-width: 320px) and (max-width: 480px) {
  .pageTitleClass {
    font-size: 3.5rem;
  }
  .projectLinksWrapperClass {
    display: flex;
    flex-direction: column;
  }
  .projectLinkClass {
    margin: 0;
  }
}
